# MySQL Database Configuration
MYSQL_HOST=192.168.99.239
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=dalDev239_@123!
MYSQL_DATABASE=syncplan_db

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
